<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

Add User
<form action="/addUser" method="post">

    
    <input th:if="${user != null}" type="hidden" th:value="${user.id}" name="id">
    name:<input type="text" name="name" th:value="${user == null} ? '' : ${user.name} " placeholder="name"/><br>
    Surname:<input type="text" name="surname" th:value="${user== null} ? '' : ${user.surname} " placeholder="surname"/><br>
    Phone:<input type="text" name="phone" th:value="${user == null} ? '' : ${user.phone} "  placeholder="phone"/><br>
    Email:<input type="email" name="email" th:value="${user == null} ? '' : ${user.email} " placeholder="email"/> <br>
    Password:<input type="password" name="password" th:value="${user == null} ? '' : ${user.password} " placeholder="password"/> <br>
    <input type="submit" value="Add"><br>


</form>

</body>
</html>